<div class="container-fluid">
  <div id="btc-quote"></div>
  <h1 class="title hidden-xs"> Bitcoin ATMs! </h1>
</div>
<hr>


<ui-gmap-google-map center="map.center" zoom="map.zoom">
  <ui-gmap-marker data-ng-repeat="marker in markerList" coords="marker.coords" options="marker.options" idKey="marker.idKey" click="onClick()">
    <ui-gmap-window options="windowOptions" closeClick="closeClick()">
      <div>
        <span class='markertitle'>{{marker.title}}</span>
        <br>
        <span class='markeraddress'>{{marker.address1}}</span>
        <br>
        <span class='markeraddress'>{{marker.address2}}</span>
      </div>
    </ui-gmap-window>
  </marker>
</ui-gmap-google-map>


